<%= link_to '< WOD一覧', wods_path, class: 'btn btn-secondary my-3' %>
<h1>WODを編集</h1>
<%= form_with model: @wod, local: true do |f| %>
  <div class="form-group">
    <%= f.label :date, class: 'col-form-label' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'col-form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :box, class: 'col-form-label' %>
    <%= f.select :box, Wod.boxes.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'col-form-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, class: 'col-form-label' %>
    <%= f.text_field :tag_list, value: @wod.tag_list.join(', '), class: 'form-control' %>
  </div>

  <% if @tags.present? %>
    <div class="form-group">
      <% @tags.each do |tag| %>
        <%= button_tag tag.name, type: 'button', class: 'btn btn-light tag-btn' %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit '更新', class: 'btn btn-dark mt-3' %>
<% end %>

<script>
  $(function(){
    $('textarea').autosize();

    const tagListInput = $('#wod_tag_list')
    let tagList
    let targetTag
    if(tagListInput.val() === "") {
      tagList = []
    } else {
      tagList = tagListInput.val().split(', ')
    }

    function updateTagList() {
      tagListInput.val(tagList.join(', '))
    }
    updateTagList()

    $('.tag-btn').click(function() {
      targetTag = $(this).text()
      if(tagList.includes(targetTag)){
        tagList = tagList.filter(list => list !== targetTag)
      } else {
        tagList.push(targetTag)
      }
      updateTagList()
    })
  });
</script>
