<%= link_to '< WOD一覧', wods_path, class: 'btn btn-secondary my-3' %>
<h1>WODを編集</h1>
<%= form_with model: @wod, local: true do |f| %>
  <div class="form-group">
    <%= f.label :date, class: 'col-form-label' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'col-form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :box, class: 'col-form-label' %>
    <%= f.select :box, Wod.boxes.keys, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'col-form-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, 'タグ', class: 'col-form-label' %>
    <%= f.text_area :tag_list, value: @wod.tag_list.join(', '), class: 'form-control overflow-auto' %>
  </div>

  <div class="form-inline">
    <div class="form-group w-75">
      <%= text_field :other, :add_tag, class: 'form-control' %>
    </div>
    <div class="form-group w-25 pl-1">
      <%= button_tag '追加', type: 'button', id: 'add-tag-btn', class: 'btn btn-dark' %>
    </div>
  </div>

  <% if @tags.present? %>
    <div class="form-group">
      <% @tags.each do |tag| %>
        <%= button_tag tag.name, type: 'button', class: 'btn btn-light tag-btn' %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit '更新', class: 'btn btn-dark mt-3' %>
<% end %>

<script>
  $(function(){
    $('textarea').autosize();

    function changeTagList(targetTag) {
      if(tagList.includes(targetTag)){
        tagList = tagList.filter(list => list !== targetTag)
      } else {
        tagList.push(targetTag)
      }
    }

    // JSで挿入したときにtextareaを広げる
    // @params [jQuery Object] target
    function triggerAutosizeResize(target) {
      target.trigger('autosize.resize');
    }

    $('#add-tag-btn').click(function() {
      targetTag = $('#other_add_tag').val()
      changeTagList(targetTag)
      updateTagList()
      $('#other_add_tag').val('')
      triggerAutosizeResize($('#wod_tag_list'))
    })

    const tagListInput = $('#wod_tag_list')
    let tagList
    let targetTag
    if(tagListInput.val() === "") {
      tagList = []
    } else {
      tagList = tagListInput.val().split(', ')
    }

    function updateTagList() {
      tagListInput.val(tagList.join(', '))
    }
    updateTagList()

    $('.tag-btn').click(function() {
      targetTag = $(this).text()
      changeTagList(targetTag)
      updateTagList()
      triggerAutosizeResize($('#wod_tag_list'))
    })
  });
</script>
