<h2 class="mb-3">WOD一覧</h2>
<div class="d-flex flex-row mb-3">
  <h3>WODを検索</h3>
  <div class="ml-auto">
    <%= link_to '追加', new_wod_path, class: 'btn btn-dark' %>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <div class="form-group row">
      <%= f.label :date, "日付", class: 'col-2 col-form-label' %>
      <div class="col-10">
        <%= f.date_field :date_eq, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group row">
    <%= f.label :content, "内容", class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= f.search_field :content_i_cont, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label :wod, :tag_list, 'タグ', class: "col-form-label" %>
    <%= text_field :wod, :tag_list, value: params.dig(:wod, :tag_list), class: "form-control" %>
  </div>

  <% if @tags.present? %>
    <div class="form-group">
      <% @tags.each do |tag| %>
        <%= button_tag tag.name, type: 'button', class: 'btn btn-light tag-btn' %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit '検索', class: 'btn btn-dark btn-block' %>
<% end %>

<h3 class="mt-5">ヒットしたWOD</h3>
<% if @wods.present? %>
  <% wod = @wods.first %>
  <%= render 'shared/wod_detail', wod: wod %>

  <div class="text-right">
    <%= link_to 'WOD詳細 >', wod_path(wod), class: 'btn btn-secondary btn-block' %>
  </div>

  <div class="mt-5">
    <%= paginate @wods %>
  </div>

  <% if @wods.total_count > 1 %>
    <p class="text-center">
      <%= "全#{@wods.total_count}件" %>
    </p>

    <div class="mt-5 text-center">
      <% (1..@wods.total_pages).each do |page| %>
        <%= link_to page.to_s, wods_path(q: wod_params_hash, wod: tag_list_params_hash, page: page), class: 'btn btn-light mt-1' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  該当するWODはありません。
<% end %>

<style>
  .pagination {
    justify-content: center;
  }
  .page-item a.page-link {
    color: #6c757d;
  }
  .page-item.active .page-link {
    background-color: #f8f9fa;
    color: #6c757d;
    border-color: #dee2e6;
  }
</style>

<script>
  $(function(){
    const tagListInput = $('#wod_tag_list')
    let tagList
    let targetTag
    if(tagListInput.val() === "") {
      tagList = []
    } else {
      tagList = tagListInput.val().split(', ')
    }

    function updateTagList() {
      tagListInput.val(tagList.join(', '))
    }
    updateTagList()

    $('.tag-btn').click(function() {
      targetTag = $(this).text()
      if(tagList.includes(targetTag)){
        tagList = tagList.filter(list => list !== targetTag)
      } else {
        tagList.push(targetTag)
      }
      updateTagList()
    })
  });
</script>
