<!DOCTYPE html>
<html>
<head>
  <title>Wod</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="format-detection" content="telephone=no" />
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <%= link_to "RecordWod", '/', class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= class_names(active: current_page?(controller: 'wods', action: 'index')) %>">
        <%= link_to 'WOD一覧', wods_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= class_names(active: controller_name == 'logs' && action_name =='index') %>">
        <%= link_to 'カレンダー', calendar_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight © RecordWod</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
